<configuration scan = "true">

    <property name="PRECOPOINT_LOG" value="log/precopointlogs" />
    <!-- saida do console -->
    <appender name="STDOUT_COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
        </layout>
    </appender>

    <!-- saida por arquivo de texto -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file> ${PRECOPOINT_LOG}.txt </file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT_COLOR" />
    </root>
</configuration>